<form action="/login" method="post">
    <label>user name:</label>
    <input id="user-name" name="userName">
    <label>password:</label>
    <input id="password" name="password">
    <button id="submit" type="submit">login</button>
</form>
<form action="/signUp" method="get">
    <button type="submit">sign me up</button>
</form>